---js
const eleventyNavigation = { key: "Home", order: 1 };
---

<div class="grid">
  <div>
    <section class="hero">
      <h1>
        From Me <br/> to You
      </h1>
    </section>
  </div>
  <div>
      <div class="title">Welcome</div>
      <p>
        I'm glad you're here. 
      </p>
      <p>
        This website is a space where I share thoughts, ideas, and things that inspire me.
      </p>
      <p>
        You’ll find a blog with personal reflections and insights, a bit about who I am, and maybe something that resonates with you along the way.
      </p>
      <p>
        Take a look around and make yourself at home.
      </p>
  </div>
</div>
